@import "../../assets/colors.css";

.task-card {
  border: 1px solid var(--color-white-transparent);
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: var(--color-white);
  opacity: 0.9;
}

.task-card {
  position: relative; 
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 8px;
}

.edit-button {
  position: absolute;
  right: 8px;
  top: 8px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: var(--color-primary-dark); 
  transition: transform 0.2s, color 0.2s;
}

.edit-button:hover { 
  color: var(--color-primary-blue);
  transform: scale(1.1); 
}

.title {
  background-color: var(--color-white);
  border-radius: 8px;
  border: var(--color-white);
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: var(--color-black);
  margin-bottom: 8px;
}

.description {
  background-color: var(--color-white);
  border-radius: 8px;
  border: var(--color-white);
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: var(--color-black-light);
}

.trash-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  text-align: right;
  color: var(--color-gray-dark); 
  transition: color 0.2s ease, transform 0.2s ease;
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.trash-button:hover {
  color: var(--color-error); 
  transform: scale(1.1); 
}

.trash-button:active {
  transform: scale(0.95);
}

